@charset "UTF-8";

// ***********************************************
//  Extend
// ***********************************************
@mixin balloon($size, $margin: 10px) {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  top: calc(100% + #{15px - 1px - 5px});
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  padding: 0 20px;
  margin: 0 auto;
  color: map-get($color-brand, "text-white");
  background-color: map-get($color-brand, "gray");
  border-radius: 13px;
  box-shadow: 4px 4px 11px 0 map-get($color-brand, "shadow");
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition-duration: $duration;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: ($size + $margin) / 2;
    left: ($size + $margin) / 2;
    display: block;
    width: 0;
    height: 0;
    border-width: 0 5px;
    border-style: solid;
    border-color: transparent;
    border-bottom: 5px solid map-get($color-brand, "gray");
    margin: 0 auto;
  }
}

@mixin balloon-styles($margin: 10px) {

  &.is-left & {
    &-balloon {
      left: -#{$margin};

      &::before {
        right: auto;
      }
    }
  }

  &.is-right & {
    &-balloon {
      right: -#{$margin};

      &::before {
        left: auto;
      }
    }
  }
}

@mixin balloon-hover-styles {
  top: calc(100% + #{15px - 1px});
  opacity: 1;
}
