@charset "UTF-8";

// ***********************************************
//  Animations
// ***********************************************
// .animation-spinRight {
  // animation: spinRight 1.0s linear infinite;
// }

// Spin
// =====================================
@keyframes spinRight {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spinLeft {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
