@charset "UTF-8";

// ***********************************************
//  Base
// ***********************************************
.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

html {
  font-family: $ff !important;
  font-size: 10px !important;

  body {
    font-size: 1.3rem;
  }
}

#container {
  display: block;
  overflow: hidden;
  width: 100%;
  min-width: $pc-max-width;
}

.wrap {
  box-sizing: border-box;
  width: $pc-min-width;
  margin: 0 auto;
}
